

#main {
    color: red;
    text-align: center;
    
}

img {
    max-width: 100%;
  }
  
body {
    line-height: 1.5;
    font-size: 100%;
    color: #313131;
  }
.icon-menu {
    font-size: 3em;
    float: right;
  }

  @media only screen and (min-width: 640px) {
    .icon-menu {
      display: none;
  }
    #main {
    color: #141111;
    text-align: left;
  }
}



